apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{ values.componentName }}
  description: "인프라 리소스: {{ values.resourceType }}"
  tags:
    - infrastructure
    - {{ values.resourceType }}
  annotations:
    github.com/project-slug: {{ values.destination.owner }}/{{ values.destination.repo }}
    backstage.io/source-location: url:https://github.com/{{ values.destination.owner }}/{{ values.destination.repo }}
    backstage.io/kubernetes-id: {{ values.componentName }}
    kubecost.com/service-label: {{ values.componentName }}
    kubecost.com/namespace: {{ values.namespace }}
    kubecost.com/owner: {{ values.owner }}
    kubecost.com/cost-center: {{ values.costCenter }}



spec:
  type: {{ values.resourceType }}
  lifecycle: {{ values.lifecycleTier }}
  owner: {{ values.owner }}
  dependsOn:
    - resource:crossplane-claims
  links:
    - url: https://console.cloud.google.com
      title: Google Cloud Console
      icon: cloud
{% if values.resourceType == 'gcpinstance' -%}
    - url: https://console.cloud.google.com/compute/instances?project={{ values.componentName }}
      title: Compute Instances
      icon: compute
{% elif values.resourceType == 'bucket' -%}
    - url: https://console.cloud.google.com/storage/browser/{{ values.componentName }}?project={{ values.componentName }}
      title: Cloud Storage
      icon: storage
{% elif values.resourceType == 'cluster' -%}
    - url: https://console.cloud.google.com/kubernetes/list?project={{ values.componentName }}
      title: Kubernetes Clusters
      icon: kubernetes
{% elif values.resourceType == 'database' -%}
    - url: https://console.cloud.google.com/sql/instances?project={{ values.componentName }}
      title: Cloud SQL
      icon: database
{% endif -%}
