[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
timeout = 30
forks = 4
roles_path = roles
vault_password_file = .vault_pass

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
