{% set repoOwner = values.repoOwner %}
{% set repoName = values.repoName %}
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{ values.componentName }}
  description: "{{ values.cloudProvider | upper }} 서버: {{ values.componentName }}"
  tags:
    - server
    - {{ values.cloudProvider }}
  annotations:
    github.com/project-slug: {{ repoOwner }}/{{ repoName }}
    backstage.io/source-location: url:https://github.com/{{ repoOwner }}/{{ repoName }}
    backstage.io/kubernetes-id: {{ values.componentName }}
    kubecost.com/service-label: {{ values.componentName }}
    kubecost.com/namespace: {{ values.componentName }}
    kubecost.com/owner: {{ values.owner }}
    kubecost.com/cost-center: {{ values.costCenter }}

spec:
  type: resource
  lifecycle: {{ values.lifecycleTier }}
  owner: {{ values.owner }}
  links:
    {% if values.cloudProvider === 'aws' %}
    - url: https://ap-northeast-2.console.aws.amazon.com/ec2/home?region=ap-northeast-2#Instances
      title: AWS Console (EC2 확인)
      icon: cloud
    {% elif values.cloudProvider === 'azure' %}
    - url: https://portal.azure.com/#browse/Microsoft.Compute%2FvirtualMachines
      title: Azure Portal (VM 확인)
      icon: cloud
    {% else %}
    - url: https://console.cloud.google.com/compute/instances
      title: Google Cloud Console (서버 확인)
      icon: cloud
    {% endif %}
