{% if values.cloudProvider === 'aws' %}
apiVersion: k8s-idp.example.org/v1alpha1
kind: EC2Instance
metadata:
  name: {{ values.componentName }}
  namespace: {{ values.namespace }}
spec:
  name: {{ values.componentName }}
  region: ap-northeast-2
  {%- if values.serverSize === 'small' %}
  instanceType: t3.small
  {%- elif values.serverSize === 'medium' %}
  instanceType: t3.medium
  {%- else %}
  instanceType: t3.xlarge
  {%- endif %}
  diskSize: {{ values.diskSize }}
  providerConfigRef:
    name: default

{% elif values.cloudProvider === 'azure' %}
apiVersion: k8s-idp.example.org/v1alpha1
kind: AzureVM
metadata:
  name: {{ values.componentName }}
  namespace: {{ values.namespace }}
spec:
  resourceGroupName: {{ values.resourceGroupName }}
  location: koreacentral
  {%- if values.serverSize === 'small' %}
  vmSize: Standard_B2s
  {%- elif values.serverSize === 'medium' %}
  vmSize: Standard_D2s_v3
  {%- else %}
  vmSize: Standard_D4s_v3
  {%- endif %}
  diskSizeGb: {{ values.diskSize }}
  adminUsername: azureuser
  providerConfigRef:
    name: default

{% else %}
apiVersion: k8s-idp.example.org/v1alpha1
kind: GCPInstance
metadata:
  name: {{ values.componentName }}
  namespace: {{ values.namespace }}
spec:
  name: {{ values.componentName }}
  region: us-central1
  zone: us-central1-a
  {%- if values.serverSize === 'small' %}
  machineType: e2-small
  {%- elif values.serverSize === 'medium' %}
  machineType: e2-medium
  {%- else %}
  machineType: e2-standard-4
  {%- endif %}
  diskSize: {{ values.diskSize }}

{% endif %}
