{% set repoUrl = values.repoUrl %}
{% if repoUrl.startswith('https://github.com/') %}
  {% set repoParts = repoUrl.replace('https://github.com/', '').split('/') %}
  {% set repoOwner = repoParts[0] %}
  {% set repoName = repoParts[1] %}
{% else %}
  {% set repoOwner = 'unknown' %}
  {% set repoName = 'unknown' %}
{% endif %}
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{ values.name }}
  description: {{ values.description }}
  tags:
    - {{ values.language }}
    - service
  annotations:
    github.com/project-slug: {{ repoOwner }}/{{ repoName }}
    backstage.io/source-location: url:https://github.com/{{ repoOwner }}/{{ repoName }}
    backstage.io/techdocs-ref: dir:.
    backstage.io/kubernetes-id: {{ values.name }}
    kubecost.com/service-label: {{ values.name }}
    kubecost.com/namespace: {{ values.name }}
    kubecost.com/owner: {{ values.owner }}
    kubecost.com/cost-center: {{ values.costCenter }}
spec:
  type: service
  lifecycle: {{ values.lifecycleTier }}
  owner: {{ values.owner }}
