{% set repoOwner = values.repoOwner %}
{% set repoName = values.repoName %}
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{ values.name }}
  description: {{ values.description }}
  tags:
    - {{ values.language }}
    - service
  annotations:
    github.com/project-slug: {{ repoOwner }}/{{ repoName }}
    backstage.io/source-location: url:https://github.com/{{ repoOwner }}/{{ repoName }}
    backstage.io/techdocs-ref: dir:.
    backstage.io/kubernetes-id: {{ values.name }}
    kubecost.com/service-label: {{ values.name }}
    kubecost.com/namespace: {{ values.name }}
    kubecost.com/owner: {{ values.owner }}
    kubecost.com/cost-center: {{ values.costCenter }}
spec:
  type: service
  lifecycle: {{ values.lifecycleTier }}
  owner: {{ values.owner }}
