apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{ values.componentName }}
  description: "{{ values.description }}"
  annotations:
    github.com/project-slug: {{ values.destination.owner }}/{{ values.destination.repo }}
    backstage.io/source-location: url:https://github.com/{{ values.destination.owner }}/{{ values.destination.repo }}
    backstage.io/kubernetes-id: {{ values.componentName }}
    kubecost.com/service-label: {{ values.componentName }}
    kubecost.com/namespace: {{ values.namespace }}
    kubecost.com/owner: {{ values.owner }}
    kubecost.com/cost-center: {{ values.costCenter }}
  tags:
    - {{ values.serviceType }}
    - {{ values.userCount }}
    - aws
  links:
    - url: https://console.aws.amazon.com
      title: AWS Console
      icon: cloud
    {% if values.serviceType === 'web-api' %}
    - url: https://{{ values.region }}.console.aws.amazon.com/ec2/home?region={{ values.region }}#Instances
      title: EC2 인스턴스 확인
      icon: compute
    - url: https://{{ values.region }}.console.aws.amazon.com/rds/home?region={{ values.region }}#databases
      title: RDS DB 확인
      icon: database
    {% elif values.serviceType === 'file-service' %}
    - url: https://s3.console.aws.amazon.com/s3/buckets
      title: S3 버킷 확인
      icon: storage
    {% elif values.serviceType === 'container-app' %}
    - url: https://{{ values.region }}.console.aws.amazon.com/eks/home?region={{ values.region }}#/clusters
      title: EKS 클러스터 확인
      icon: compute
    {% elif values.serviceType === 'data-processing' %}
    - url: https://{{ values.region }}.console.aws.amazon.com/ec2/home?region={{ values.region }}#Instances
      title: 고성능 EC2 확인
      icon: compute
    {% endif %}
spec:
  type: {{ values.serviceType }}
  lifecycle: {{ values.lifecycleTier }}
  owner: {{ values.owner }}
