# ${{ values.componentName }}

${{ values.description | default('') }}

## 리소스 정보

| 항목 | 값 |
|------|-----|
| 소유자 | ${{ values.owner }} |
| 클라우드 | Azure |
| 서비스 유형 | ${{ values.serviceType }} |
| 환경 | ${{ values.lifecycleTier | default('development') }} |
