# ${{ values.componentName }}

AWS 인프라 리소스입니다.

## 리소스 정보

| 항목 | 값 |
|------|-----|
| 소유자 | ${{ values.owner }} |
| 클라우드 | AWS |
| 리소스 유형 | ${{ values.resourceType }} |
| 환경 | ${{ values.lifecycleTier | default('development') }} |
