apiVersion: backstage.io/v1alpha1
kind: System
metadata:
  name: {{ values.name }}
  description: {{ values.description }}
  annotations:
    github.com/project-slug: {{ values.destination.owner }}/{{ values.destination.repo }}
    backstage.io/kubernetes-id: {{ values.name }}
spec:
  owner: {{ values.owner }}
  domain: default
---
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{ values.name }}-service
  description: {{ values.description }}
  tags:
    - {{ values.language }}
    - service
  annotations:
    github.com/project-slug: {{ values.destination.owner }}/{{ values.destination.repo }}
    backstage.io/techdocs-ref: dir:.
    backstage.io/kubernetes-id: {{ values.name }}-service
    kubecost.com/service-label: {{ values.name }}-service
    kubecost.com/namespace: {{ values.namespace }}
    kubecost.com/owner: {{ values.owner }}
    kubecost.com/cost-center: {{ values.costCenter }}

spec:
  type: service
  lifecycle: {{ values.lifecycleTier }}
  owner: {{ values.owner }}
  system: {{ values.name }}
  dependsOn:
    - resource:default/{{ values.name }}-infra
---
apiVersion: backstage.io/v1alpha1
kind: Resource
metadata:
  name: {{ values.name }}-infra
  description: Infrastructure for {{ values.name }}
  tags:
    - infrastructure
    - {{ values.resourceType }}
  annotations:
    github.com/project-slug: {{ values.destination.owner }}/{{ values.destination.repo }}
    backstage.io/source-location: url:https://github.com/{{ values.destination.owner }}/{{ values.destination.repo }}
    backstage.io/kubernetes-id: {{ values.name }}-infra
    kubecost.com/service-label: {{ values.name }}-infra
    kubecost.com/namespace: {{ values.namespace }}
    kubecost.com/owner: {{ values.owner }}
    kubecost.com/cost-center: {{ values.costCenter }}
spec:
  type: {{ values.resourceType }}
  lifecycle: {{ values.lifecycleTier }}
  owner: {{ values.owner }}
  system: {{ values.name }}
