{% if values.resourceType == 'database' -%}
apiVersion: k8s-idp.example.org/v1alpha1
kind: Database
metadata:
  name: {{ values.name }}
  namespace: {{ values.namespace }}
  labels:
    app.kubernetes.io/name: {{ values.name }}
    backstage.io/kubernetes-id: {{ values.name }}-infra
    owner: {{ values.owner }}
    cost-center: {{ values.costCenter }}
    lifecycle-tier: {{ values.lifecycleTier }}
    expires-at: "{{ values.expiresAt }}"
spec:
  name: {{ values.name }}
  databaseVersion: {{ values.databaseVersion }}
  tier: {{ values.tier }}
  region: {{ values.dbRegion }}
  diskSize: {{ values.dbDiskSize }}
{% elif values.resourceType == 'bucket' -%}
apiVersion: k8s-idp.example.org/v1alpha1
kind: Bucket
metadata:
  name: {{ values.name }}
  namespace: {{ values.namespace }}
  labels:
    app.kubernetes.io/name: {{ values.name }}
    backstage.io/kubernetes-id: {{ values.name }}-infra
    owner: {{ values.owner }}
    cost-center: {{ values.costCenter }}
    lifecycle-tier: {{ values.lifecycleTier }}
    expires-at: "{{ values.expiresAt }}"
spec:
  name: {{ values.name }}
  location: {{ values.location }}
  storageClass: {{ values.storageClass }}
  versioning: false
{% elif values.resourceType == 'gcpinstance' -%}
apiVersion: k8s-idp.example.org/v1alpha1
kind: GCPInstance
metadata:
  name: {{ values.name }}
  namespace: {{ values.namespace }}
  labels:
    app.kubernetes.io/name: {{ values.name }}
    backstage.io/kubernetes-id: {{ values.name }}-infra
    owner: {{ values.owner }}
    cost-center: {{ values.costCenter }}
    lifecycle-tier: {{ values.lifecycleTier }}
    expires-at: "{{ values.expiresAt }}"
spec:
  name: {{ values.name }}
  machineType: {{ values.machineType }}
  region: {{ values.vmRegion }}
  zone: {{ values.zone }}
  diskSize: {{ values.vmDiskSize }}
{% elif values.resourceType == 'cluster' -%}
apiVersion: k8s-idp.example.org/v1alpha1
kind: Cluster
metadata:
  name: {{ values.name }}
  namespace: {{ values.namespace }}
  labels:
    app.kubernetes.io/name: {{ values.name }}
    backstage.io/kubernetes-id: {{ values.name }}-infra
    owner: {{ values.owner }}
    cost-center: {{ values.costCenter }}
    lifecycle-tier: {{ values.lifecycleTier }}
    expires-at: "{{ values.expiresAt }}"
spec:
  name: {{ values.name }}
  location: {{ values.clusterLocation }}
  nodeCount: {{ values.nodeCount }}
  machineType: {{ values.nodeMachineType }}
{% endif -%}
