apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ values.namespace }}

resources:
  - namespace.yaml
  - claim.yaml

commonLabels:
  app.kubernetes.io/name: {{ values.name }}
  app.kubernetes.io/managed-by: backstage
  backstage.io/managed-by: scaffolder
