{% if values.resourceType == 'azurevm' -%}
apiVersion: k8s-idp.example.org/v1alpha1
kind: AzureVM
metadata:
  name: {{ values.componentName }}
  namespace: {{ values.namespace }}
  labels:
    app.kubernetes.io/name: {{ values.componentName }}
    backstage.io/kubernetes-id: {{ values.componentName }}
    owner: {{ values.owner }}
    cost-center: {{ values.costCenter }}
    lifecycle-tier: {{ values.lifecycleTier }}
    expires-at: "{{ values.expiresAt }}"
spec:
  name: {{ values.componentName }}
  vmSize: {{ values.vmSize }}
  location: {{ values.vmLocation }}
  diskSizeGb: {{ values.vmDiskSizeGb }}
  resourceGroupName: {{ values.resourceGroupName }}
{% elif values.resourceType == 'azureblobstorage' -%}
apiVersion: k8s-idp.example.org/v1alpha1
kind: AzureBlobStorage
metadata:
  name: {{ values.componentName }}
  namespace: {{ values.namespace }}
  labels:
    app.kubernetes.io/name: {{ values.componentName }}
    backstage.io/kubernetes-id: {{ values.componentName }}
    owner: {{ values.owner }}
    cost-center: {{ values.costCenter }}
    lifecycle-tier: {{ values.lifecycleTier }}
    expires-at: "{{ values.expiresAt }}"
spec:
  name: {{ values.componentName }}
  location: {{ values.blobLocation }}
  replication: {{ values.blobReplication }}
  resourceGroupName: {{ values.resourceGroupName }}
{% elif values.resourceType == 'akscluster' -%}
apiVersion: k8s-idp.example.org/v1alpha1
kind: AKSCluster
metadata:
  name: {{ values.componentName }}
  namespace: {{ values.namespace }}
  labels:
    app.kubernetes.io/name: {{ values.componentName }}
    backstage.io/kubernetes-id: {{ values.componentName }}
    owner: {{ values.owner }}
    cost-center: {{ values.costCenter }}
    lifecycle-tier: {{ values.lifecycleTier }}
    expires-at: "{{ values.expiresAt }}"
spec:
  name: {{ values.componentName }}
  location: {{ values.aksLocation }}
  nodeCount: {{ values.aksNodeCount }}
  vmSize: {{ values.aksVmSize }}
  dnsPrefix: {{ values.aksDnsPrefix }}
  resourceGroupName: {{ values.resourceGroupName }}
{% elif values.resourceType == 'azuredatabase' -%}
apiVersion: k8s-idp.example.org/v1alpha1
kind: AzureDatabase
metadata:
  name: {{ values.componentName }}
  namespace: {{ values.namespace }}
  labels:
    app.kubernetes.io/name: {{ values.componentName }}
    backstage.io/kubernetes-id: {{ values.componentName }}
    owner: {{ values.owner }}
    cost-center: {{ values.costCenter }}
    lifecycle-tier: {{ values.lifecycleTier }}
    expires-at: "{{ values.expiresAt }}"
spec:
  name: {{ values.componentName }}
  engine: {{ values.dbEngine }}
  skuName: {{ values.dbSkuName }}
  location: {{ values.dbLocation }}
  storageMb: {{ values.dbStorageMb }}
  resourceGroupName: {{ values.resourceGroupName }}
{% endif -%}
